# Введение в Pandas

In [1]:
import pandas as pd
#import numpy as np
pd.set_option('display.max_rows', 50)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)#, encoding='UTF-8')
data.head(7) #для просмотра первых n строк
#print(data.columns.tolist())
#print(data.iloc[0])

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
5,232,45-49,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
6,277,18-21,Woman,India,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...","YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN

### Task 1

Найдём самый часто встречающийся возраст респондентов

In [2]:
print('Самый часто встречаемый возраст респондентов:')
data['Q2'].value_counts().idxmax() #.iloc[:1]

Самый часто встречаемый возраст респондентов:

'18-21'

### Task 2

Найдём долю женщин среди русских участников опроса, тех что уже не студенты

In [3]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
wom_ru_notst = (data['Q3'].str.contains('Woman') & data['Q4'].str.contains('Russia') & data['Q5'].str.contains('No')).sum()
all_ru_notst = (data['Q4'].str.contains('Russia') & data['Q5'].str.contains('No')).sum()
#wom_ru_notst
#all_ru_notst
print('Доля женщин среди русских участников опроса, которые уже не студенты:')
round((wom_ru_notst/all_ru_notst), 2)

Доля женщин среди русских участников опроса, которые уже не студенты:

0.24

### Task 3

Найдём среднюю продолжительность заполнения опроса, результат выведем в *минутах*

In [4]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
questions = data.iloc[0]
#questions[50:100]
#questions['Q12_1']
#questions['Q23']
data.drop(0, inplace=True)
#data.head(5)
data['Duration (in seconds)'] = data['Duration (in seconds)'].astype(int)
print('Среднее время заполнения опроса в минутах:')
round(data['Duration (in seconds)'].mean() / 60, 2)

Среднее время заполнения опроса в минутах:

168.17

### Task 4

Выведем 3 самых частовстречающихся образовательных курса, которые проходили респонденты

In [5]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
add_q6 = [col for col in data.columns if col.startswith('Q6')]
#add_q6
course = data[add_q6].melt(var_name='вопрос', value_vars=add_q6)
#course
print('Топ-3 образовательных курса, которые указали респонденты:')
course['value'].value_counts().iloc[:3]

Топ-3 образовательных курса, которые указали респонденты:

value
Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: count, dtype: int64

### Task 5

Выведем 5 самых частовстречающихся языков программирования, используемых специалистами *Data Scientists* в своей работе

In [6]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
data_ds = data[data['Q23']=='Data Scientist']
#data_ds
add_q12 = [col for col in data_ds.columns if col.startswith('Q12')]
add_q12
pr_lang = data_ds[add_q12].melt(var_name='вопрос', value_vars=add_q12)
print('Топ-5 языков программирования, которые регулярно используют Data Scientists:')
pr_lang['value'].value_counts().iloc[:5]

Топ-5 языков программирования, которые регулярно используют Data Scientists:

value
Python        1808
SQL           1140
R              530
Bash           248
Javascript     187
Name: count, dtype: int64

### Task 6

Найдём средний доход специалистов *Data Scientist* и средний доход специалистов *Machine Learning/ MLops Engineer* \
В колонке *Q29* доход указан в виде промежутка, поэтому для расчёта используем среднее значение этого промежутка

In [7]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
data.drop(0, inplace=True)
wage = data[['Q23', 'Q29']][(data['Q23']=='Data Scientist') | (data['Q23']=='Machine Learning/ MLops Engineer')]
wage = wage.dropna()
#wage.head(30)
wage['Q29'] = wage['Q29'].apply(lambda x: "".join(i for i in x if (i.isdecimal()) | (i=='-')))
wage['Q29'] = pd.Series(wage['Q29']).str.replace('1000000', '1000000-1000000', regex=True)
#wage['Q29'].unique()
#wage['Q29'].value_counts()
wage['Q29_min'] = wage['Q29'].str.split('-').str.get(0)
wage['Q29_max'] = wage['Q29'].str.split('-').str.get(1)
wage['Q29_min'] = wage['Q29_min'].astype(str).astype(float)
wage['Q29_max'] = wage['Q29_max'].astype(str).astype(float)
wage['Q29'] = (wage['Q29_min'] + wage['Q29_max'])/2.0
#wage
wage_ds = wage[wage['Q23']=='Data Scientist']
wage_ml = wage[wage['Q23']=='Machine Learning/ MLops Engineer']
m_wage_ds = round(wage_ds['Q29'].mean(), 0)
m_wage_ml = round(wage_ml['Q29'].mean(), 0)
print('Средний доход среди Data Scientist специалистов:', m_wage_ds)
print('Средний доход среди Machine Learning/ MLops Engineer:', m_wage_ml)

Средний доход среди Data Scientist специалистов: 70337.0
Средний доход среди Machine Learning/ MLops Engineer: 67437.0