# Задание

In [1]:
import pandas as pd
#import numpy as np

pd.set_option('display.max_rows', 20)
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False) #, encoding='UTF-8')
data.head(7) #для просмотра первых n строк
#print(data.columns.tolist())
#print(data.iloc[0])

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_3,Q44_4,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...
1,121,30-34,Man,India,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...",NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
5,232,45-49,Man,India,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN
6,277,18-21,Woman,India,Yes,Coursera,edX,NaN,DataCamp,NaN,...,NaN,"Kaggle (notebooks, forums, etc)","Course Forums (forums.fast.ai, Coursera forums...","YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,NaN

## Task 1

Узнай самый часто встречаемый возраст респондентов

In [2]:
print('Самый часто встречаемый возраст респондентов:')
data['Q2'].value_counts().idxmax() #.iloc[:1]

Самый часто встречаемый возраст респондентов:

'18-21'

## Task 2

Посчитай долю женщин среди русских участников опроса, которые уже не студенты. Результат округли до двух цифр после запятой

In [3]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
wom_ru_notst = (data['Q3'].str.contains('Woman') & data['Q4'].str.contains('Russia') & data['Q5'].str.contains('No')).sum()
all_ru_notst = (data['Q4'].str.contains('Russia') & data['Q5'].str.contains('No')).sum()
#wom_ru_notst
#all_ru_notst
print('Доля женщин среди русских участников опроса, которые уже не студенты:')
round((wom_ru_notst/all_ru_notst), 2)

Доля женщин среди русских участников опроса, которые уже не студенты:

0.24

## Task 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до двух знаков после запятой

In [4]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
data.drop(0, inplace=True)
#data.head(5)
data['Duration (in seconds)'] = data['Duration (in seconds)'].astype(int)
print('Среднее время заполнения опроса в минутах:')
round(data['Duration (in seconds)'].mean() / 60, 2)

Среднее время заполнения опроса в минутах:

168.17

## Task 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [10]:
data = pd.read_csv('../datasets/kaggle_survey_2022_responses.csv', low_memory=False)
add_q6 = [col for col in data.columns if col.startswith('Q6')]
#add_q6
course = data[add_q6].melt(var_name='вопрос', value_vars=add_q6)
#course
print('Топ-3 образовательных курса, которые указали респонденты:')
course['value'].value_counts().iloc[:3]

Топ-3 образовательных курса, которые указали респонденты:

value
Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: count, dtype: int64

## Task 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [6]:
# Код тут

## Task 6

Узнай средний доход среди 'Data Scientist' специалистов и средний доход среди 'Machine Learning/ MLops Engineer' \
Т.к. в колонке Q29 указан промежуток, то возьми среднее значение из промежутка. 

Например: 
- '15,000-19,999' - 17500, 
- '125,000-149,999' - 137500. 
- \> $1,000,000 - оставляем 1000000

Средние доход **округли до целого.**

In [7]:
# Код тут

## Дополнительно

Найди какой-нибудь интересный инсайт из этих данных. Пиши свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [8]:
# Код тут